@import url("https://fonts.googleapis.com/css2?family=Jersey+20&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #ffffff;
  overflow-y: hidden;
  font-family: "Jersey 20";
}

@media (prefers-color-scheme: dark) {
}

body {
}

@layer utilities {
}
.taskItemBarContainer::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
  scrollbar-width: 0;
}

.itemsidebarHelperClass {
  background-color: #2a2929;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 1px;
  margin-bottom: 1px;
  border-bottom: 0.5px solid;
  border-color: #6d7885;
  font-size: 1em;
}

/* bg-custom-black w-[100%] flex items-center py-2 my-1 font-jersey-20 border-b border-sub-blue text-xs */
